* {
  font-family: "Courier New", Courier, monospace, "Yu Gothic", "Noto Sans JP";
}

.login-main {
  display: flex;
  flex-direction: row;
}

span {
  font-weight: normal;
  font-size: 80px;
}

.login-form {
  padding: 25px;
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 30px auto;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.871);
}

.login-input {
  padding: 5px;
  margin: 2px;
  border-radius: 2px;
}

.login-input:hover {
  border-radius: 5px;
  background-color: rgba(188, 222, 239, 0.667);
}

.login-form .submit-button {
  background-color: rgb(237, 159, 95);
  width: 100px;
  padding: 10px;
  align-self: center;
  border-radius: 20px;
  border-color: transparent;
  color: white
}

.submit-button:hover {
  border-radius: 30px;
  background-color: rgb(250, 122, 18);
  transform: scale(1.08);
}

.go-to-register{
margin-top:10px;
font-size: 13px;
white-space: nowrap;
}

.login-form .link{
font-size: 13px;
color:rgb(237, 159, 95);
}

.link:hover {
  font-weight: bold;
}
.error-message,
.success-message {
  font-size: 0.8rem;
}