.card-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  min-height: 58vh;
}

.card {
  position: relative;
  width: 340px;
  height: 210px;
  border-radius: 15px;
  padding: 20px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25);
  font-family: "Courier New", Courier, monospace;
  backdrop-filter: blur(10px);
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 250%;
  height: 100%;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.1)
  );
  transition: all 0.4s ease;
  transform: skewX(-15deg);
  z-index: 1;
}

.card:hover::before {
  left: 100%;
  transition: all 0.6s ease;
}

.bank-name {
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 20px;
  right: 20px;
  letter-spacing: 1px;
  z-index: 2;
}

.card-logo {
  width: 50px;
  height: 50px;
  background-color: gold;
  border-radius: 5px;
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #333;
  z-index: 2;
}

.card-number {
  font-size: 22px;
  letter-spacing: 3px;
  margin-top: 60px;
  font-weight: bold;
  z-index: 2;
}

.expiration {
  font-size: 12px;
  text-transform: uppercase;
  bottom: 60px;
  margin-left: 90px;
  z-index: 2;
}

.cvv {
  position: absolute;
  bottom: 50px;
  right: 20px;
  font-size: 14px;
  z-index: 2;
}

.cardholder {
  font-size: 18px;
  text-transform: uppercase;
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 2;
}

.card:nth-child(1) {
  background: linear-gradient(
    135deg,
    rgba(255, 20, 147, 0.2),
    rgba(75, 0, 130, 0.4)
  );
}

.card:nth-child(2) {
  background: linear-gradient(
    135deg,
    rgba(255, 165, 0, 0.2),
    rgba(255, 69, 0, 0.4)
  );
}

.card:nth-child(3) {
  background: linear-gradient(
    135deg,
    rgba(0, 191, 255, 0.2),
    rgba(25, 25, 112, 0.4)
  );
}

.card:nth-child(4) {
  background: linear-gradient(
    135deg,
    rgba(50, 205, 50, 0.2),
    rgba(0, 100, 0, 0.4)
  );
}

.card:nth-child(5) {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 0, 0.2),
    rgba(255, 215, 0, 0.4)
  );
}


.no-data{
  height: 400px;
}