.forgot-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  min-height: 60vh;
}

.forgot-password-container.image-container {
  margin-right: 50px;
}

.forgot-password-container .image-container img {
  width: 350px;
  height: auto;
  padding-right: 90px;
}

.forgot-password-container .form-container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 350px;
}

.forgot-password-container h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

.forgot-password-container p {
  margin-bottom: 20px;
  font-size: 16px;
  color: #555;
}

.forgot-password-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.forgot-password-container button {
  width: 100%;
  padding: 10px;
  background-color: #45578bd8;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
}

.forgot-password-container button:hover {
  background-color: #6aa99e;
}

.forgot-password-container .message {
  margin-top: 20px;
  font-size: 16px;
  color: red;
}
